@{
  var year = DateTime.UtcNow.Year;
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/site.css" />
</head>
<body class="bg-slate-700">
  <div class="bg-slate-100 container mx-auto min-h-screen">
    <header class="flex justify-between bg-green-900 text-white">
      <h1>Free Billing</h1>
      <partial name="_Nav" model="@User.Identity?.IsAuthenticated" />
    </header>
    <section class="p-4 bg-white">
      @RenderBody()
    </section>
    <footer class="bg-black text-white text-center py-2">
      <div>&copy; @year, Free Billing Ltd.</div>
    </footer>
  </div>
  @RenderSection("scripts", false)
</body>
</html>
