@page
@model FreeBilling.Pages.ContactPageModel
@section scripts {
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.slim.min.js" integrity="sha512-jxwTCbLJmXPnV277CvAjAcWAjURzpephk0f0nO2lwsvcoDMqBdy1rh1jEwWWTabX1+Grdmj9GFAgtN22zrV0KQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
<vc:page-header page-name="Contact Form"></vc:page-header>
<h3>Use the Contact Form Below:</h3>
<form method="post" novalidate class="simple-form">
  <label asp-for="Contact.Name">Name</label>
  <input asp-for="Contact.Name" />
  <span asp-validation-for="Contact.Name"></span>
  <label asp-for="Contact.Email">E-Mail</label>
  <input asp-for="Contact.Email" />
  <span asp-validation-for="Contact.Email"></span>
  <label asp-for="Contact.Subject">Subject</label>
  <input asp-for="Contact.Subject" />
  <span asp-validation-for="Contact.Subject"></span>
  <label asp-for="Contact.Message">Message</label>
  <textarea asp-for="Contact.Message" rows="4"></textarea>
  <span asp-validation-for="Contact.Message"></span>
  <button type="submit">Send</button>
  <div>@Model.Message</div>
</form>