@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4 { @apply font-bold; }
h1 { @apply text-3xl;}
h2 { @apply text-2xl;}
h3 { @apply text-xl;}
h4 { @apply text-lg;}

nav ul li {
  @apply bg-yellow-200 outline-yellow-900 hover:bg-yellow-300 rounded outline hover:outline-2 p-2 mx-2;
} 

p {
  @apply leading-loose text-base;
}

form input, select, textarea {
  @apply p-2 text-lg my-1 placeholder:text-slate-400 placeholder:italic outline outline-gray-700 outline-1 rounded hover:outline-blue-700 focus:outline-2;
}

button, a.button, [type=submit] {
  @apply my-1 self-start bg-slate-700 outline outline-2 outline-green-900 hover:bg-slate-600 text-white p-2 rounded uppercase font-bold;
}

.field-validation-error {
  @apply text-red-900 italic text-sm;
}

/* body, html {
  background-color: #ccc;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.container {
  width: 989px;
  margin: 0 auto;
  background-color: #eee;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: slategray;
  color: white;
}

header, section, footer {
  padding: .25rem;
}

nav ul {
  list-style: none;
  display: flex;
}

  nav ul li {
    font-weight: bold;
    padding: .5rem;
    color: white;
    border-radius: .25rem;
    background-color: rgb(109, 1, 21);
    text-decoration: none;
    margin-right: .1rem;
  }

a:visited, a:link {
  color: white;
}

nav ul li a {
  text-decoration: none;
}

  nav ul li a:hover {
    text-decoration: underline;
  }

section {
  min-height: 24rem;
}

.simple-form label {
  display: block;
}

.simple-form input,
.simple-form textarea,
.simple-form select {
  display: block;
  min-width: 24rem;
  font-size: 1.1rem;
  padding: .25rem;
}

.simple-form .field-validation-error {
  font-size: .8rem;
  color: red;
  display: block;
}

footer {
  background-color: black;
  color: white;
}

  footer > div {
    text-align: center;
  } */
