@model bool?
<nav>
  <ul class="flex py-2 text-black font-bold">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/user">User Area</a>
    </li>
    <li>
      <a href="/contact">Contact Us</a>
    </li>
    <li>
      @if (Model == true)
      {
        <a href="/logout">Logout</a>
      }
      else
      {
        <a href="/login">Login</a>
      }
    </li>
  </ul>
</nav>